@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin backgroundImage {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}